.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(384px, 1fr));
  grid-gap: 48px;
}

.cards > ul > li {
  /** background-color: var(--cards-bg-color); **/
  background-color: var(--tds-neutral-gray-1);
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.cards .cards-card-body {
  background-color: var(--tds-white);
  padding: 1.5rem;
}

.cards .cards-card-image {
  line-height: 0;
  margin-left: -3rem;
  margin-right: -3rem;
  height: 0;
  padding-bottom: 55.80985915492958% ;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 16 / 9; 
  object-fit: cover;
  
}
